# virtualenv
venv/

# environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

docker-compose.yml
